.button {
  background-color: #7e48b3;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
